
  <!-- Preloader -->
  <div id="overlay">
    <div class="spinner"></div> 
  </div>
  <!-- /Preloader -->

  <!-- Header Top -->
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <ul class="top-info">
            <li><i class="fa fa-envelope-o"></i><a href="mailto:prabhat@moodi.org">prabhat@moodi.org</a></li>
            <li><i class="fa fa-phone"></i><a href="tel:8115618738">+91-8115618738</a></li>
          </ul>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="top-social">
            <a href="https://www.facebook.com/prabhat7758"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/prabhat7758"><i class="fa fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/prabhat7758"><i class="fa fa-linkedin"></i></a>
            <a href="https://www.instagram.com/pra_b_hat"><i class="fa fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /Header Top -->
  
  <!-- Header Area -->
  <header id="sticky-header" class="gray-bg">
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="logo">
              <a class="navbar-brand" target="blank" href="https://moodi.org"><img src="../assets/images/blacklogo.png" alt="" style="    height: 100%;
                width: auto;
                padding: 6px;
                padding-left: 13px;"/></a>
            </div>
          </div>
          <div class="col-md-9">
            <div class="main-menu text-right">
              <nav>
                <ul class="menu">
                  <li><a href="#">Home </a></li>
                    
                  <li><a href="#about">About </a>
                    
                  </li>
                  <li><a href="#projects">Projects</a>
                  </li>
                  <li><a href="#contact">Contact</a>
                   
                  </li>
                  <li id="login-btn"><a target="blank" href="https://docs.google.com/forms/d/e/1FAIpQLSf037jKJAM7dHSMqAQg6ENG4Wf9Bz3Ay3wOh2cPq8raTuIw_Q/viewform?usp=sf_link">Register</a></li>
                </ul>
              </nav>
            </div>
            <div class="mobile-menu"></div>
          </div>
        </div>
      </div>
    </div><!-- /.Navigation -->			
  </header><!-- /Header Area -->	
  
  <div class="page-wrapper">
  
    <!-- Hero Area -->
    <section class="hero-area dark-overlay" data-parallax="scroll" data-speed="0.6" data-image-src="../assets/images/banner/1.jpg">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="hero-contents">
              <h2>Mood Indigo's<span> Tech-Projects</span></h2>
              <p>This is a portal launched by Mood Indigo, aiming to help you learn and explore coding through practical projects that will have applications you’ll be able to see through your own eyes during the festival! You will have a list of projects to choose from, which you can choose according to your own interest and will.</p>
              </div>
          </div>
          <div class="col-md-6">
            <div class="hero-video">
              <img src="../assets/images/back.jpg" alt="" height=100% width=100% />
              <a class="pop-video" href="https://www.youtube.com/watch?v=j1mpmc2dgAg"><i class="fa fa-play"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    <!-- /Hero Area -->
    <section id="about" class="about-area dark-overlay section-padding" data-parallax="scroll" data-speed="0.6" data-image-src="../assets/images/banner/3.jpg">
      <div class="container" >
        <div class="row">
          <div class="col-md-6">
            <div class="about-content">
              <img src="../assets/images/logo.png" style="height: auto; width: 300px;" alt="" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="about-content">
              <h2>Why should you <span>participate?</span></h2>
              <p>This is an experience you would definitely not want to miss, with the quality of mentorship and learning involved. The projects listed on this portal are entirely different from the projects you might otherwise find at the institute to do, since these will have a direct application and a wide pool of users to cater to.</p>
              <a class="btn-default btn-big btn-fill mt-10" href="tel:8115618738">Contact us</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
  
  
    <section class="why-choose-area section-padding" id="projects">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-3 col-md-6">
            <div class="section-title">
              <h2><span>MI</span> PROJECTS</h2>
              <p>Love to code! Lets develop something useful together.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="single-why-choose">
              <i class="fa fa-cutlery" aria-hidden="true"></i>
              <h3>Food and Beverages</h3>
              <p><b>Software:</b> Angular(HTML, CSS, TypeScript)<br><b>Backend(API):</b> .NET Core(C#) or Django(Python)<br>For the first time ever, a portal to make the usage and distribution of food coupons, is being made to eliminate several problems faced by the FnB department during the festival.</p>
              <br><li id="login-btn"><a  target="blank" href="https://docs.google.com/forms/d/e/1FAIpQLSf037jKJAM7dHSMqAQg6ENG4Wf9Bz3Ay3wOh2cPq8raTuIw_Q/viewform?usp=sf_link" >Register</a></li>
            </div>
          </div>
          <div class="col-md-4">
            <div class="single-why-choose">
              <i class="fa fa-trophy" aria-hidden="true"></i>
              <h3>Competition Portal</h3>
              <p><b>Software:</b> Angular(HTML, CSS, TypeScript) + Android Studio(Java, Xml)<br><b>Backend(API):</b> .NET Core(C#) or Django(Python)<br>This is a platform that will be used to live-track the entry of registrants of competitions during the festival.</p>
              <br><li id="login-btn"><a  target="blank" href="https://docs.google.com/forms/d/e/1FAIpQLSf037jKJAM7dHSMqAQg6ENG4Wf9Bz3Ay3wOh2cPq8raTuIw_Q/viewform?usp=sf_link" >Register</a></li>
            </div>
          </div>
          <div class="col-md-4">
            <div class="single-why-choose">
              <i class="fa fa-modx" aria-hidden="true"></i>
              <h3>MI App</h3>
              <p><b>Software:</b>Android Studio(Java, Xml) / React Native(JavaScript)<br><b>Backend:</b>Django(Python)<br>The official app of Mood Indigo 2019, to be downloaded by almost all visitors during the festival, to check all updates related to the several events going on.</p>
              <br><li id="login-btn"><a  target="blank" href="https://docs.google.com/forms/d/e/1FAIpQLSf037jKJAM7dHSMqAQg6ENG4Wf9Bz3Ay3wOh2cPq8raTuIw_Q/viewform?usp=sf_link">Register</a></li>
            </div>
          </div>
          <div class="col-md-4">
            <div class="single-why-choose">
              <i class="fa fa-user-circle-o" aria-hidden="true"></i>
              <h3>Verification Portal</h3>
              <p><b>Software:</b> Angular(HTML, CSS, TypeScript) + TBD<br><b>Backend:</b>TBD<br>A portal to live-track the number of visitors for an event, by making the visitor scan a QR code and connecting it to his/her MI number.</p>
              <br><li id="login-btn"><a  target="blank" href="https://docs.google.com/forms/d/e/1FAIpQLSf037jKJAM7dHSMqAQg6ENG4Wf9Bz3Ay3wOh2cPq8raTuIw_Q/viewform?usp=sf_link">Register</a></li>
            </div>
          </div>
         
        </div>
      </div>
    </section>

    <footer class="site-footer footer-v2 footer-overlay" style="background:url('images/banner/11.jpg') no-repeat fixed;">
              <div class="container" id="contact">
                  <div class="row">
                      <!-- .site-bottom -->
                      <div class="bottom-footer">
                          <div class="col-md-6 col-sm-4 pull-center">
                              <div class="socials">
                                  <ul>
                                      <li><a target="blank" href="https://twitter.com/iitb_moodi"><i class="fa fa-twitter"></i></a></li>
                                      <li><a target="blank"  href="https://www.facebook.com/iitb.moodindigo/"><i class="fa fa-facebook"></i></a></li>
                                      <li><a target="blank"  href="https://www.linkedin.com/company/mood-indigo/"><i class="fa fa-linkedin"></i></a></li>
                                      <li><a target="blank"  href="https://www.instagram.com/iitbombay.moodi/"><i class="fa fa-instagram"></i></a></li>
                                      <li><a target="blank"  href="https://www.youtube.com/user/iitbmoodindigo"><i class="fa fa-youtube"></i></a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- .row -->
              </div>
          </footer><!-- /Footer Area -->

  </div>

  <!-- Scroll To Top Button -->
  <a class="page-scroll" href="#page-top" id="toTop"><span class="ti-rocket"></span></a>
