
  <!-- Preloader -->
  <div id="overlay">
    <div class="spinner"></div> 
  </div>
  <!-- /Preloader -->

  <!-- Header Top -->
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <ul class="top-info">
            <li><i class="fa fa-envelope-o"></i><a href="mailto:prabhat@moodi.org">prabhat@moodi.org</a></li>
            <li><i class="fa fa-phone"></i><a href="tel:8115618738">+91-8115618738</a></li>
          </ul>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="top-social">
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>
            <a href=""><i class="fa fa-google-plus"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /Header Top -->
  
  <!-- Header Area -->
  <header id="sticky-header" class="gray-bg">
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="logo">
              <a class="navbar-brand" href="index.html"><img src="../assets/images/logo.png" alt="" /></a>
            </div>
          </div>
          <div class="col-md-9">
            <div class="main-menu text-right">
              <nav>
                <ul class="menu">
                  <li><a href="#">Home <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <ul>
                      <li><a href="index.html">Home one</a></li>
                      <li><a href="index-v2.html">Home Two</a></li>
                    </ul>
                  </li>
                  <li><a href="blog.html">About <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <ul>
                      <li><a href="about-01.html">About Us 1</a></li>
                      <li><a href="about-02.html">About Us 2</a></li>
                    </ul>
                  </li>
                  <li><a href="">Pages <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <ul>
                      <li><a href="services.html">Services</a></li>
                      <li><a href="team.html">Team</a></li>
                      <li><a href="pricing.html">Pricing</a></li>
                      <li><a href="#"><span><i class="fa fa-angle-right"></i></span>Additional pages</a>
                        <ul>
                          <li><a href="faqs.html">FAQ's</a></li>
                          <li><a href="404.html">404 page</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li><a href="blog.html">Blog <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <ul>
                      <li><a href="blog-list.html">Blog List</a></li>
                      <li><a href="blog-details.html">Blog Details</a></li>
                    </ul>
                  </li>
                  <li><a href="">Contact <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <ul class="menudrop-left">
                      <li><a href="contact.html">Contact 1</a></li>
                      <li><a href="contact-2.html">Contact 2</a></li>
                    </ul>
                  </li>
                  <li id="login-btn"><a href="signup.html">Login</a></li>
                </ul>
              </nav>
            </div>
            <div class="mobile-menu"></div>
          </div>
        </div>
      </div>
    </div><!-- /.Navigation -->			
  </header><!-- /Header Area -->	
  
  <div class="page-wrapper">
  
    <!-- Hero Area -->
    <section class="hero-area dark-overlay" data-parallax="scroll" data-speed="0.6" data-image-src="../assets/images/banner/1.jpg">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="hero-contents">
              <h2>Mood Indigo's<span> Tech-Projects</span></h2>
              <p>Bitcoin uses peer-to-peer technology to operate with no central authority or banks; managing transactions and the issuing of bitcoins is carried out collectively by the network.</p>
              <a class="btn-default btn-big btn-fill" href="about-2.html">About us</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="hero-video">
              <img src="../assets/images/banner/2.jpg" alt="" />
              <a class="pop-video" href="https://www.youtube.com/watch?v=Gc2en3nHxA4"><i class="fa fa-play"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section><!-- /Hero Area -->
    
    <!-- how-it-works Area -->
    <section class="how-it-works section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-3 col-md-6">
            <div class="section-title">
              <h2>How it <span>works</span></h2>
              <p>Sed ut perspiciatis, unde omnis isteew nouat error sit voluptatem etusasi accu ndolor laudantium, totam rem aperiam eaqu m </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="single-hw-wk">
              <div class="single-hw-wk-pad">
                <img src="../assets/images/icons/1.png" alt="" />
                <h3>Pass free registration</h3>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in form</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="single-hw-wk">
              <div class="single-hw-wk-pad">
                <img src="images/icons/2.png" alt="" />
                <h3>Make Payments</h3>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in form</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="single-hw-wk">
              <div class="single-hw-wk-pad">
                <img src="images/icons/3.png" alt="" />
                <h3>Buy or sell orders</h3>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in form</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- /how-it-works Area -->
  
    <!-- about area -->
    <section class="about-area dark-overlay section-padding" data-parallax="scroll" data-speed="0.6" data-image-src="images/banner/3.jpg">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="about-content">
              <img src="images/icons/bit.png" alt="" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="about-content">
              <h2>About <span>Bitcoin</span></h2>
              <p>Bitcoin is a cryptocurrency and worldwide payment system. It is the first decentralized digital currency, as the system works without a central bank or single administrator.</p>
              <p>Bitcoin is a form of digital currency, created and held electronically. No one controls it. Bitcoins aren’t printed, like dollars or euros – they’re produced by people, and increasingly businesses, running computers all around the world, using software that solves mathematical problems.</p>
              <a class="btn-default btn-big btn-fill mt-10" href="">Contact us</a>
            </div>
          </div>
        </div>
      </div>
    </section><!-- /about area -->
  
    <!-- Why choose us area -->
    <section class="why-choose-area section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-3 col-md-6">
            <div class="section-title">
              <h2><span>Why</span> Choose Us</h2>
              <p>Sed ut perspiciatis, unde omnis isteew nouat error sit voluptatem etusasi accu ndolor laudantium, totam rem aperiam eaqu m </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="single-why-choose">
              <i class="ti-lock"></i>
              <h3>Safe and secure</h3>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in form</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="single-why-choose">
              <i class="ti-mobile"></i>
              <h3>Mobile App</h3>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in form</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="single-why-choose">
              <i class="ti-medall-alt"></i>
              <h3>Instant Exchange</h3>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in form</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="single-why-choose">
              <i class="ti-headphone-alt"></i>
              <h3>Experts Support</h3>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in form</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="single-why-choose">
              <i class="ti-wallet"></i>
              <h3>Secure Wallet</h3>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in form</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="single-why-choose">
              <i class="ti-shield"></i>
              <h3>Covered By Insurance</h3>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in form</p>
            </div>
          </div>
        </div>
      </div>
    </section><!-- /Why choose us area -->
    
    <!--Team Area-->
    <section class="team-area section-padding blue-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-3 col-md-6">
            <div class="section-title">
              <h2>Our <span>Team</span></h2>
              <p>There are many variations of passages of Lorem Ipsum available</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="single-member">
              <div class="single-team-details">
                <img src="images/team/7.jpg" alt="" />
                <div class="team-member-name">
                  JAMIE BRYAN
                </div>
                <div class="team-member-des">
                  CEO
                </div>
              </div>
              <div class="single-mem-des">
                <p>"There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration."</p>
                <a href=""><i class="fa fa-medium"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
                <a href=""><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="single-member">
              <div class="single-team-details">
                <img src="images/team/8.jpg" alt="" />
                <div class="team-member-name">
                  SHEILA TURNER
                </div>
                <div class="team-member-des">
                  CONSULTANT
                </div>
              </div>
              <div class="single-mem-des">
                <p>"There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration."</p>
                <a href=""><i class="fa fa-medium"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
                <a href=""><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="single-member">
              <div class="single-team-details">
                <img src="images/team/9.jpg" alt="" />
                <div class="team-member-name">
                  GRANT WATSON
                </div>
                <div class="team-member-des">
                  ANALYST
                </div>
              </div>
              <div class="single-mem-des">
                <p>"There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration."</p>
                <a href=""><i class="fa fa-medium"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
                <a href=""><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="single-member">
              <div class="single-team-details">
                <img src="images/team/10.jpg" alt="" />
                <div class="team-member-name">
                  NEAL HALE
                </div>
                <div class="team-member-des">
                  DEVELOPER
                </div>
              </div>
              <div class="single-mem-des">
                <p>"There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration."</p>
                <a href=""><i class="fa fa-medium"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
                <a href=""><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!--/Team Area-->
  
  </div>
  
    <!-- Bitcoin Price area -->
    <section class="bitcoin-prices-area section-padding gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-3 col-md-6">
            <div class="section-title">
              <h2><span>Current</span> Prices</h2>								
              <p>Sed ut perspiciatis, unde omnis isteew nouat error sit voluptatem etusasi accu ndolor laudantium, totam rem aperiam eaqu m</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="current-pricing table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Cryptocurency</th>
                    <th>Last Price</th>
                    <th>24h Change</th>
                    <th>24h volume (coin)</th>
                    <th>High</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><img src="images/icons/4.png" alt="" />Bitcoin</td>
                    <td id="bit-l-price">1.960.30 $</td>
                    <td id="bit-per">12.33 $</td>
                    <td id="bit-vol">218.207 BTC</td>
                    <td id="bit-high">12.33 $</td>
                  </tr>
                  <tr>
                    <td><img src="images/icons/6.png" alt="" />Litecoin</td>
                    <td id="lit-l-price">1.960.30 $</td>
                    <td id="lite-per">12.33 $</td>
                    <td id="lit-vol">218.207 BTC</td>
                    <td id="lit-high">12.33 $</td>
                  </tr>
                  <tr>
                    <td><img src="images/icons/5.png" alt="" />Ethereum</td>
                    <td>1.960.30 $</td>
                    <td>12.33 $</td>
                    <td>218.207 BTC</td>
                    <td>12.33 $</td>
                  </tr>
                  <tr>
                    <td><img src="images/icons/4.png" alt="" />Bitcoin</td>
                    <td>1.960.30 $</td>
                    <td>12.33 $</td>
                    <td>218.207 BTC</td>
                    <td>12.33 $</td>
                  </tr>
                  <tr>
                    <td><img src="images/icons/6.png" alt="" />Litecoin</td>
                    <td>1.960.30 $</td>
                    <td>12.33 $</td>
                    <td>218.207 BTC</td>
                    <td>12.33 $</td>
                  </tr>
                  <tr>
                    <td><img src="images/icons/5.png" alt="" />Ethereum</td>
                    <td>1.960.30 $</td>
                    <td>12.33 $</td>
                    <td>218.207 BTC</td>
                    <td>12.33 $</td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
            <div class="text-center">
              <a class="btn-default btn-big btn-fill mt-10" href="">Explore more</a>
            </div>
          </div>
        </div>
      </div>
    </section><!-- /Bitcoin Price area -->
    
  <div class="page-wrapper">
  
    <!-- Crypto Converter area -->
    <section class="crypto-converter-area section-padding dark-overlay" style="background:url('images/banner/5.jpg') no-repeat fixed">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="section-title">
              <h2><span>Current</span> Converter</h2>								
              <p>Sed ut perspiciatis, unde omnis isteew nouat error sit voluptatem etusasi accu ndolor laudantium, totam rem aperiam eaqu m</p>
            </div>
          </div>
        </div>
        <div class="row">
          <form action="#" class="crypto-converter">
            <div class="col-md-offset-2 col-md-4">
              <h3>Bitcoin</h3>
              <input id="btcc" type="text" placeholder="Bitcoin" />
            </div>
            <div class="col-md-4">
              <h3>USD</h3>
              <input id="usdc" type="text" placeholder="US Dollar" />
            </div>
          </form>
        </div>
      </div>
    </section><!-- /Crypto Converter area -->
  
    <!-- Counter area -->
    <section class="counter-area dark-overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="single-counter">
              <h3>Total transection</h3>
              <span class="counter">1250</span>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="single-counter">
              <h3>Clients</h3>
              <span class="counter">953</span>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="single-counter">
              <h3>Server</h3>
              <span class="counter">255</span>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="single-counter">
              <h3>Visitor</h3>
              <span class="counter">2501</span>
            </div>
          </div>
        </div>
      </div>
    </section><!-- /Counter area -->
    
    <!-- News area -->
    <section class="news-area section-padding gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-title">
              <h2>Latest <span>News</span></h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <a class="news-box-hover" href="blog-details.html">
            <div class="news-box" style="background:url(images/blog/1.jpg) no-repeat;">
              <div class="news-data">
                <p class="news-cat">Bitcoin</p>
                <img src="images/icons/8.png" alt="" />
                <h2>Bitcoin drops below $8k</h2>
                <p class="news-meta">
                  <span>November 7, 2017</span>
                  <span><i class="ti-eye"></i> 1046</span>
                  <span><i class="ti-comment"></i> 20</span>
                </p>
              </div>
            </div>
            </a>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <a class="news-box-hover" href="blog-details.html">
            <div class="news-box" style="background:url(images/blog/2.jpg) no-repeat;">
              <div class="news-data">
                <p class="news-cat">Litecoin</p>
                <img src="images/icons/9.png" alt="" />
                <h2>Litecoin boring news</h2>
                <p class="news-meta">
                  <span>September 23, 2017</span>
                  <span><i class="ti-eye"></i> 3153</span>
                  <span><i class="ti-comment"></i> 33</span>
                </p>
              </div>
            </div>
            </a>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <a class="news-box-hover" href="blog-details.html">
            <div class="news-box" style="background:url(images/blog/3.jpg) no-repeat;">
              <div class="news-data">
                <p class="news-cat">Blockchain</p>
                <img src="images/icons/7.png" alt="" />
                <h2>Why use a blockchain?</h2>
                <p class="news-meta">
                  <span>February 25, 2017</span>
                  <span><i class="ti-eye"></i> 6370</span>
                  <span><i class="ti-comment"></i> 57</span>
                </p>
              </div>
            </div>
            </a>
          </div>
        </div>
      </div>
    </section><!-- /News area -->			

    <!-- Footer Area -->
    <footer class="site-footer footer-v2 footer-overlay" style="background:url('images/banner/11.jpg') no-repeat fixed;">
              <div class="container">
                  <div class="row">
                      <div class="site-bottom clearfix">
                          <div class="col-md-2 col-sm-6 site-bottom-1">
                              <aside class="widget widget-nav">
                                  <h3 class="widget-title">Pages</h3>
                                  <ul class="menu">
                                      <li><a href="#">About</a></li>
                                      <li><a href="#">Services</a></li>
                                      <li><a href="#">Latest news</a></li>
                                      <li><a href="#">Team</a></li>
                                      <li><a href="#">Contact</a></li>
                                  </ul>
                              </aside>
                          </div>
                          <div class="col-md-3 col-sm-6 site-bottom-3">
                              <aside class="widget widget-nav">
                                  <h3 class="widget-title">Terms</h3>
                                  <ul class="menu">
                                      <li><a href="#">FAQ’s</a></li>
                                      <li><a href="#">Privecy & Policy</a></li>
                                      <li><a href="#">Terms & Conditions</a></li>
                                      <li><a href="#">Lience Policy</a></li>
                                      <li><a href="#">404 Policy</a></li>
                </ul>
                              </aside>
                          </div>
                          <div class="col-md-4 col-sm-6 site-bottom-2">
                              <aside class="widget widget-nav">
                                  <h3 class="widget-title">Twitter feed</h3>
                                  <div class="twitter-feed">
                  <div class="twitter-feed-icon">
                    <i class="fa fa-twitter"></i>
                  </div>
                  <div class="twitter-feed-content">
                    <p>Our every products has a grate discount. Get 50% discount to get started with <a href="">#Wordpress</a> <a href="">#discount</a><br /><a href="">http://t.co/Wa8Hg98Okg</a></p>
                  </div>
                </div>
                                  <div class="twitter-feed">
                  <div class="twitter-feed-icon">
                    <i class="fa fa-twitter"></i>
                  </div>
                  <div class="twitter-feed-content">
                    <p><a href="">@RidoyRajoan</a> Hi Weblos, I need a website to build. Can you help me?</p>
                  </div>
                </div>
                                  <div class="twitter-feed">
                  <div class="twitter-feed-icon">
                    <i class="fa fa-twitter"></i>
                  </div>
                  <div class="twitter-feed-content bor-btm-none">
                    <p>Themerio: <a href="">#design</a> vs <a href="">#analysis</a> which one you will prefer? <br /><a href="">http://t.co/Zo71Uh9ObG</a></p>
                  </div>
                </div>
                              </aside>
                          </div>
                          <div class="col-md-3 col-sm-6 site-bottom-4">
                              <aside class="widget widget-text">
                                  <h3 class="widget-title">Newsletter</h3>
                                  <p>Subscribe to our newsletter to receive news, updates, free stuff and new releases by email. We don't do spam.</p>
                                  <form class="form-newsletter-ft" action="#" method="get">
                                      <input name="email" placeholder="Enter your email" required="" type="email">
                                      <input value="Go" type="submit">
                                  </form>
                              </aside>
                          </div>
                      </div>
                      <!-- .site-bottom -->
                      <div class="bottom-footer">
                          <div class="col-md-6 col-sm-4 pull-right">
                              <div class="socials">
                                  <ul>
                                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                      <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                  </ul>
                              </div>
                          </div>
                          <div class="col-md-6 col-sm-8">
                              <div class="copyright">
                                  <p>&copy; 2018 All Rights Reserved Buckion.</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- .row -->
              </div>
          </footer><!-- /Footer Area -->

  </div>

  <!-- Scroll To Top Button -->
  <a class="page-scroll" href="#page-top" id="toTop"><span class="ti-rocket"></span></a>
